{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>{{ featuredReview.title }}</h1>
            <p>{{ featuredReview.synopsis }}</p>
            <p><a href="#" class="btn btn-primary">Découvrir la fiche</a></p>
        </div>
        home
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
