{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for review in reviews %}
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{ path('review_show', {'id': review.id}) }}" class="">
                        <img src="http://placehold.it/360X200"
                             srcset="http://placehold.it/360X200 1x,
                                     http://placehold.it/720X400 2x"
                             class="img-responsive">
                    </a>
                </div>
                <div class="col-sm-8">
                    <h3 class="title">{{ review.title }}</h3>
                    <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members</p>

                    <p>
                        {% set excerpt = review.synopsis|raw|striptags|split(' ') %}
                        {% set excerptMaxLength = 30 %}

                        {{ excerpt|slice(1, excerptMaxLength)|join(' ') }}{% if(excerpt|length > excerptMaxLength) %}...{% endif %}
                    </p>

                    <p class="text-muted">Publiée par <a href="#">{{ review.user.username }}</a></p>

                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
