{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for review in reviews %}
            <li>{{ review.title }}</li>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
